<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card" style="background-color: #f8f9fa; border-radius: 15px; padding: 30px 20px; width: 180px; height: 210px; margin-left: -70px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); position: relative;">
                <a href="https://archives.lib.cuhk.edu.hk/spc">
                    <div class="card-body text-center">
                        <%= image_tag "#{@base_url}/assets/images/Special_Collections_thumbnail.jpg", :alt => "Special Collections", :width => 120, :height => 120, :style => "max-width: 100%; height: auto;", :class => "card-img" %>
                        <h5 class="card-title mt-3">Special Collections -<br>   Archival Collections</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="background-color: #f8f9fa; border-radius: 15px; padding: 30px 20px; width: 180px; height: 210px; margin-left: -110px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); position: relative;">
                <a href="https://archives.lib.cuhk.edu.hk/uar">
                    <div class="card-body text-center">
                        <%= image_tag "#{@base_url}/assets/images/University_Archives_thumbnail.jpg", :alt => "University Archives", :width => 120, :height => 120, :style => "max-width: 100%; height: auto;", :class => "card-img" %>
                        <h5 class="card-title mt-3">University Archives </h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<br>
